body::-webkit-scrollbar {
    width: 5px; 
}

body::-webkit-scrollbar-thumb {
    background-color: #296152;
    border-radius: 2px; 
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #193a31;
}


.main_content{
    background: url(../../Images/BackgroundPatternTools.jpg) repeat;
    background-size: 460px;
    position: relative;
    min-height: 100vh;
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
}

.background_home{
    background: url(../../Images/BackgroundPatternTools.jpg) fixed repeat;
    background-size: 460px;
    position: relative;
}

.menu_collapsed {
    left: 78px;
    width: calc(100% - 78px);
    background-size: 460px;
}
