.main_content{
    background: url(../../Images/BackgroundPatternTools.jpg) repeat;
    background-size: 460px;
    position: relative;
    height: 100vh;
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
}

.background_home{
    background: url(../../Images/BackgroundPatternTools.jpg) fixed repeat;
    background-size: 460px;
    position: relative;
}

.menu_collapsed {
    left: 78px;
    width: calc(100% - 78px);
    background-size: 460px;
}
