.bannerMessage {
    width: 45%;
    margin: 0% 3%;
    display: flex;
    align-items: start;
    flex-wrap: wrap;
}

.mainMessage h1 {
    font-size: 64px;
    margin: 0%;
}

.mainMessage h2 {
    font-size: clamp(30px, 2.5vw + 0.7rem, 48px);
    margin: 0% 10%;
}

.filters {
    width: 45%;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
}

.searchBar {
    width: 96%;
    display: flex;
    position: relative;
}

.searchBar input {
    color: rgba(0, 0, 0, 0.4);
    font-family: Signika Negative;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.36px;
    border-radius: 50px;
    background: rgba(195, 245, 215, 0.8);
    border: none;
    padding: 10px;
    width: 100%;
}

.searchBar i {
    position: absolute;
    z-index: 103;
    width: 32px;
    height: 32px;
    color: #4a5fa0;
    cursor: pointer;
    top: 13px;
    right: 5px;
}

.searchBar input:focus {
    outline: none;
}

.advancedFilters {
    width: 96%;
    color: #fff;
    padding: 5px 0 0 20px;
    box-sizing: border-box;
    font-family: Signika Negative;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin-top: 10px;
}

.advancedFilters > i {
    color: rgba(195, 245, 215, 0.8);
    margin-left: 8px;
    transition: all 0.4s ease-out;
    cursor: pointer;
}

.advancedFilters > i.open {
    transform: rotate(-180deg);
}

.advancedFiltersContainer {
    width: 100%;
    box-sizing: border-box;
    padding: 5px 0 0 10px;
}

.inputGroup {
    margin: 10px 0;
}

.inputGroup label {
    margin-right: 10px;
}

.inputGroup select {
    width: 40%;
    border: none;
    border-radius: 4px;
    padding: 5px;
    font-family: Signika Negative;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.4);
}

.inputGroup select:focus {
    outline: none;
}

.bannerMessage > div {
    margin: 10px 0;
    width: 100%;
}

.mainMessage {
    width: 100%;
    color: #fff;
    font-family: Signika Negative;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.96px;
}

@media (width <= 980px) {
    .bannerMessage {
        width: 90%;
        height: 40vh;
        justify-content: center;
    }
    .mainMessage {
        text-align: center;
        margin-top: 0;
    }

    .bannerMessage > div {
        width: 450px;
    }

    .filters {
        width: 500px;
        align-items: start;
    }
    .searchBar {
        width: 100%;
    }
    .inputGroup select {
      width: 250px;
  }
}
.downloadButton {
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}

    .downloadButton:hover {
        background-color: #0056b3;
        color: white;
    }
