.button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    border: none;
    padding: 8px 5px;
    text-align: center;
    font-family: Signika Negative;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 153.846% */
    letter-spacing: 0.39px;
    width: max(30%,150px);
    cursor: pointer;
}

.button i{
    padding: 0 8px;
}

.greenBtn:hover{
    transition: 280ms;
    color: #2d7b66;
    background: #fbfefc;
}

.greenBtn{
    color: #296152;
    background: #C3F5D7;
    box-shadow: 0px 3px 6px #244a41;
}

.blueBtn{
    color: #CDE1F4;
    background: #4A5FA0;
    box-shadow: 0px 3px 6px #293c77;
}

.blueBtn:hover{
    transition: 280ms;
    color: #CDE1F4;
    background: #3c5397;
}

@media (width <= 1024px){
    .button{
        padding: 5px 2px;
    }
}