.accessContent{
    background: url(../../../Images/BackgroundPatternTools.jpg ) repeat;
    background-size: 460px; 
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 50px;
}