
body::-webkit-scrollbar {
    width: 5px; 
}

body::-webkit-scrollbar-thumb {
    background-color: #296152;
    border-radius: 2px; 
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #193a31;
}
